<nav class="flexContainer">
    <a id="homeLink" routerLink="/home"><img id="logo" src="../../assets/carDealLogo.png" alt="Car Dealership Logo"></a>
    <a id="warehouseLink"  routerLink="/warehouse">Warehouse</a>    
  </nav>

  <main>
    <section class="tableContainer">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8 demo-table">
        <!-- Brand Column -->
        <ng-container matColumnDef="Brand">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Brand">Brand</th>
          <td mat-cell *matCellDef="let element">{{element.Brand}}</td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="Model">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Model">Model</th>
          <td mat-cell *matCellDef="let car">{{car.Model}}</td>
        </ng-container>

        <!-- YearOfReg Column -->
        <ng-container matColumnDef="YearOfReg">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by YearOfReg">YearOfReg</th>
          <td mat-cell *matCellDef="let car">{{car.YearOfReg}}</td>
        </ng-container>

        <!-- Kilometers Column -->
        <ng-container matColumnDef="Kilometers">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Kilometers">Kilometers</th>
          <td mat-cell *matCellDef="let car">{{car.Kilometers}}</td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Price">Price</th>
          <td mat-cell *matCellDef="let car">{{car.Price}}</td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let car"><button (click)="deleteCar(car)" mat-raised-button color="warn">Delete</button></td>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let car"><button (click)="openUpdateModal(car)" mat-raised-button color="primary">Update</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['Brand','Model','YearOfReg','Kilometers','Price','Delete','Update']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['Brand','Model','YearOfReg','Kilometers','Price','Delete','Update'];"></tr>
      </table>

      <mat-paginator 
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of cars">
      </mat-paginator>
    </section>


    <!-- Modal and form for add-->
    <div id="AddModal" class="modal">
      <div class="modal-content">
          <span class="close" (click)="closeAddModal()">&times;</span>
          <section class="formContainer">
              <mat-form-field appearance="fill">
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Mercedes" [(ngModel)]="newBrand" required>
                <button *ngIf="newBrand" matSuffix mat-icon-button aria-label="Clear" (click)="newBrand=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Model</mat-label>
                <input matInput placeholder="S-Class" [(ngModel)]="newModel" required>
                <button *ngIf="newModel" matSuffix mat-icon-button aria-label="Clear" (click)="newModel=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              
              <mat-form-field appearance="fill">
                <mat-label>Year of registration</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newYearOfReg" required>
                <button *ngIf="newYearOfReg" matSuffix mat-icon-button aria-label="Clear" (click)="newYearOfReg=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Kilometers</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newKilometers" required>
                <button *ngIf="newKilometers" matSuffix mat-icon-button aria-label="Clear" (click)="newKilometers=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newPrice" required>
                <button *ngIf="newPrice" matSuffix mat-icon-button aria-label="Clear" (click)="newPrice=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button id="submitButton" (click)="addCar()" mat-stroked-button>Save</button>
          </section>
      </div>
    </div>

    <!-- Modal and form for update -->
    <div id="UpdateModal" class="modal">
      <div class="modal-content">
          <span class="close" (click)="closeUpdateModal()">&times;</span>
          <section class="formContainer">
              <mat-form-field appearance="fill">
                <mat-label>Year of registration</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newYearOfReg" required>
                <button *ngIf="newYearOfReg" matSuffix mat-icon-button aria-label="Clear" (click)="newYearOfReg=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Kilometers</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newKilometers" required>
                <button *ngIf="newKilometers" matSuffix mat-icon-button aria-label="Clear" (click)="newKilometers=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput placeholder="" matInput [(ngModel)]="newPrice" required>
                <button *ngIf="newPrice" matSuffix mat-icon-button aria-label="Clear" (click)="newPrice=0">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <button id="submitButton" (click)="updateCar(carSavedToDelete)" mat-stroked-button>Submit</button>
          </section>
      </div>
    </div>

    <section class="buttonContainer">
      <button mat-raised-button (click)="openAddModal()">Add car</button>
    </section>

  </main>

  <footer>
    <span>© 2023 Radu-Nicolae Siderias</span>
  </footer>